body {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  box-sizing: 100%; }

.formulario {
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
  color: black; }

.redes {
  margin-top: 20px;
  height: 150px;
  text-align: center;
  font-weight: bold;
  text-decoration: none; }

.sociales {
  text-align: center;
  margin-block-end: 10px;
  padding-top: 5px;
  padding-bottom: 10px; }

.sociales li {
  display: inline-block; }

.sociales a {
  height: 50px;
  padding: 20px; }

@media screen and (max-width: 768px) {
  .container {
    gap: 0.7rem; } }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.5rem; }

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px; } }

@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px; } }

.derecho {
  text-decoration: none;
  padding: 10px;
  display: block; }

.redes {
  color: #17267a; }

.caja1 {
  color: #4996ad; }

.caja2 {
  color: #3bac7d; }

.caja3 {
  color: #26bb3a; }

.caja4 {
  color: #5d9e3e; }

.lead {
  text-decoration: #141313; }
